In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('moviereviews.tsv',sep='\t')

In [3]:
df.head()

  label                                             review
0   neg  how do films like mouse hunt get into theatres...
1   neg  some talented actresses are blessed with a dem...
2   pos  this has been an extraordinary year for austra...
3   pos  according to hollywood movies made in last few...
4   neg  my first press screening of 1998 and already i...

In [4]:
len(df)

2000

In [7]:
df.isna().sum()

label      0
review    35
dtype: int64

In [8]:
df.dropna(inplace=True)

In [9]:
df.isna().sum()

label     0
review    0
dtype: int64

In [10]:
mystring  = 'hello'
empty = ' '

In [11]:
mystring.isspace()

False

In [12]:
empty.isspace()

True

In [14]:
blanks = []
#(index,label,review text)
for i,lb,rv in df.itertuples():
    if (rv.isspace()):
        blanks.append(i)

In [15]:
blanks

[57,
 71,
 147,
 151,
 283,
 307,
 313,
 323,
 343,
 351,
 427,
 501,
 633,
 675,
 815,
 851,
 977,
 1079,
 1299,
 1455,
 1493,
 1525,
 1531,
 1763,
 1851,
 1905,
 1993]

In [16]:
len(df)

1965

In [17]:
df.drop(blanks,inplace=True)

In [18]:
len(df)

1938

In [19]:
from sklearn.model_selection import train_test_split

X = df['review']
y = df['label']

In [20]:
X_train, X_test, y_train, y_test = train_test_split(X,y,
                                                   train_size=0.3,
                                                   random_state=42)

In [21]:
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.svm import LinearSVC

In [22]:
text_clf = Pipeline([('tfidf',TfidfVectorizer()),('clf',LinearSVC())])

In [23]:
text_clf.fit(X_train,y_train)

Pipeline(steps=[('tfidf', TfidfVectorizer()), ('clf', LinearSVC())])

In [24]:
y_preds = text_clf.predict(X_test)

In [25]:
from sklearn.metrics import confusion_matrix,classification_report,accuracy_score,precision_score

In [26]:
confusion_matrix(y_test,y_preds)

array([[541, 126],
       [159, 531]], dtype=int64)

In [27]:
print(classification_report(y_test,y_preds))

              precision    recall  f1-score   support

         neg       0.77      0.81      0.79       667
         pos       0.81      0.77      0.79       690

    accuracy                           0.79      1357
   macro avg       0.79      0.79      0.79      1357
weighted avg       0.79      0.79      0.79      1357

In [28]:
print(accuracy_score(y_test,y_preds))

0.7899778924097274